<!DOCTYPE html>
<html>
<head>
  <title>MangaFox Reader</title>
<!-- <meta name="google-site-verification" content="nKl7AAFnYRlM_hXm-COESRrlRuiREEZW6qRoLoKMylo" /> -->
   
  <%= stylesheet_link_tag 'http://s3-ap-southeast-1.amazonaws.com/ext-player/resources/css/ext-all.css', 'application'       %>

    
     <% if Rails.env.production? %>
          <%= javascript_include_tag "#{EXT_41_JS}",
          "application" %>
     <% else %>
          <%= javascript_include_tag  'ext-all-debug-w-comments',
          "application" %>
     <% end %>
 
  <%= csrf_meta_tag %>
</head>
<body>
	
 
<%= yield %>

</body>
</html>
